/**
 * Box Sizing.

 */
@font-face {
  font-family: 'Calibre';
  src: url('./fonts/Calibre.eot');
  src: url('./fonts/Calibre.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Calibre.woff2') format('woff2'),
      url('./fonts/Calibre.woff') format('woff'),
      url('./fonts/Calibre.ttf') format('truetype'),
      url('./fonts/Calibre.svg#Calibre') format('svg');
  font-weight: normal;
  font-style: normal;
}


html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/**
 * Content.
 */

body {
  background-color: #f7f7f7;
  color: #252525;
  font-family: -apple-system, BlinkMacSystemFont, 'Calibre', 'Segoe UI', Roboto, Oxygen, Cantarell, 'Ubuntu', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

a {
  color: #ff775f;
}

a:hover {
  text-decoration: none;
}

.content {
  margin: 0 auto;
  max-width: 1024px;
  padding: 30px;
  text-align: center;
}

.logo-naijahacks {
  max-height: 150px;
  max-width: 100%;
  width: auto;
}

.instructions {
  padding: 10px;
  font-size: 1.4rem;
}

.error {
  background-color: #FFBABA;
  border-radius: 3px 3px 3px 3px;
  color: #D8000C;
  display: table;
  margin: 10px auto;
  padding: 10px;
}

.site-info {
  font-size: 1.2em;
  text-align: center;
}

/**
 * Form Input.
 */

.form-certificate {
  position: relative;
  text-align: center;
  width: 100%;
}

.form-certificate input {
  background-color:  #ffffff;
  border-bottom-left-radius: 2px;
  margin-top: .3rem;
  width: 100%;
  border-right: 0;
  border-top-left-radius: 2px;
  border: 1px solid #999999;
  color:#252525;
  padding: 1rem 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Calibre', 'Segoe UI', Roboto, Oxygen, Cantarell, 'Ubuntu', 'Open Sans', 'Helvetica Neue', sans-serif;
  /* width: 80%; */
  font-size: 16px;
}

.form-certificate input:hover {
  border: 1px solid #ff775f;
}

.form-certificate button {
  background-color:  #ff775f;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  margin-top: .3rem;
  color: #ffffff;
  cursor: pointer;
  border: none;
  padding: 1rem 2rem;
  font-size: 18px;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Calibre', 'Segoe UI', Roboto, Oxygen, Cantarell, 'Ubuntu', 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.form-certificate button:hover {
  background-color: #111010;
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
}

.form-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* flex: 1 1 50%; */
}

@media only screen and (min-width: 720px) {
  .form-row {
    flex-direction: row;
    flex: 1 1 50%;
  }
  .form-certificate button{
    margin-left: 10px;
  }
}